@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

subtle {opacity: 0.65}
smol {font-size: 70%;}

ol {list-style: none; counter-reset: li}

ol li::before {content: counter(li); color: rgb(128, 255, 128); opacity: 0.3;
    display: inline-block; width: 1em; margin-left: -1.5em;
    margin-right: 0.5em; text-align: right; direction: rtl}

li {counter-increment: li}

body {
  margin: 0 0 0 0;
  display: block;
  font-family: 'IBM Plex Serif', ui-serif, 'Noto Serif', ui-sans-serif, sans-serif;
  line-height: 1.4;
}

#window {
  position: relative;
}

.page {
    position: relative;
    z-index: 100;
    max-width: 650px; 
    margin: 0 auto; 
}

#header, #footer {
  background-color: rgba(0, 255, 180, 0.3);
  max-width: 650px;
  margin: 0 auto; 
  padding: 16px 32px;
}

#content {
    max-width: 650px; 
    margin: 0 auto; 
    padding: 16px 32px;
    color: currentColor;

}

.background_light {
    background-color: rgb(0, 255, 180);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    mix-blend-mode: darken;
}

.background_dark {
    background-color: rgba(0, 255, 180, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
}

.background_BW {
    background-color: currentColor;
    filter: invert(100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.subtle {
  opacity: 0.5;
}

li {padding-bottom: 0.5em; padding-top: 0.5em;}

/* Hyperlinks */
a {
  color: color(display-p3 0 1 0.5); color: rgb(0, 191, 135);
}
a { text-decoration: none; } 

a:hover,
a:focus {
  border-bottom: 1px solid rgb(255, 192, 255);
  color: rgb(255, 192, 255);
}

h1, h2, h3, h4, .button-basic {
    font-family: ui-monospace, "Menlo", "Segoe UI Mono", "Ubuntu Mono", "Roboto Mono", "Monaco", "Consolas", monospace, sans-serif;
}

h1, h2, h3, h4 {
    color: color(display-p3 0, 1, 0.5); color: rgb(0, 191, 135)
}

h1 { 
  font-size: 175%; 
}

h2 { 
  font-size: 150%;
  ;
}

h3 {
  font-size: 110%;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  opacity: 0.2;
}

.hr_hidden {
  margin-top: 0;
  margin-bottom: 0;
  border: 0 none;
  height: 0px;
}

.anticolor{
  color: revert;
  color: currentColor;
  filter: invert(100%);
}

.button-basic {
  font-size: 90%;
  font-weight: bold;
  background: rgb(0, 191, 135); 
  border: 0;
  padding: 0.5;
}

.button-basic:hover,
.button-basic:focus {
  background: rgb(255, 192, 255);
}