@import url("nicestyle.css");

subtle {opacity: 0.5;}

ol li::before {content: counter(li); color: black; opacity: 0.5;}

body {
  background-color: white;
  color: black;
  font-size: 10pt;
}

#things {
  padding: 0em 0em;
  margin-top: 0em;
  margin-bottom: 0em;
}

li {padding-bottom: 0.5em; padding-top: 0.5em;}

a {
  color: black;
  text-decoration: underline;
}

h1 { color: black; }
h2 { font-size: 130%; color: black}


hr {
  border-top: solid 1px #000;
}

.hr_hidden {
  border-top: solid 1px #000;
}
